/* * {
  box-shadow: 0 0 0 3px red 
  inset;
} */



.modification {
  background-color: #E7DFDF;
}

.couleur {
  background-color: #09970A
  
}

.couleur2 {
  background-color: #3C4249;
}

.couleur3 {
  background-color: #31373E;
}